body{
    margin: 0;
    padding: 0;
}
.menu {
    display: inline-block;
    flex-wrap: wrap;
}

.row{
    display: flex;
    flex-wrap: wrap;
    background-color: #B9FFF6;
}
* {
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.headBar {
    background-color: #e9e9e9;
}

/* Style the search box inside the navigation bar */
.headBar input[type=text] {
    /*float: right;*/
    padding-left: 6px;
    border: none;
    margin: 8px;
    font-size: 17px;
}

.headBar a{
    width: 5%;
    /*height: 50%;*/
    /*padding: 6px;*/
}
.headBar a img{
    width: 100%;
    height: auto;
}

.row .col-1{
    padding: 10px;
}

.menu{
    padding: 15px;
}

