body {
    font-family: Verdana,sans-serif;
    font-size: 0.9em;
}

/*header, footer {*/
/*    padding: 10px;*/
/*    color: white;*/
/*    background-color: black;*/
/*}*/

/*section {*/
/*    margin: 5px;*/
/*    padding: 10px;*/
/*    background-color: lightgrey;*/
/*}*/

/*article {*/
/*    margin: 5px;*/
/*    padding: 10px;*/
/*    background-color: white;*/
/*}*/

/*nav ul {*/
/*    padding: 0;*/
/*}*/

/*nav ul li {*/
/*    display: inline;*/
/*    margin: 5px;*/
/*}*/




.row{
    display: flex;
    flex-wrap: wrap;
    background-color: #B9FFF6;
}
* {
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

section{
    height: 200px;
    border-style: dashed;
    border-color: rebeccapurple;
}
article{
    height: 200px;
    border-style: dashed;
    border-color: chartreuse;
}

aside{
    height: 400px;
    border-style: dashed;
    border-color: darkorange;
}

footer{
    height: 100px;
    border-style: dashed;
    border-color: rebeccapurple;
}